* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body {
  background-color: #8f9297;
} */

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: perspective(600px) rotateY(0deg);
}

.large {
  font-size: 60px;
}

.p {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  border: none;
  outline: none;
}

.search {
  background-color: #333;
  background-image: url(1.svg);
  background-position: top center;
  background-size: cover;
  position: relative;
  height: 70%;
}

.search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 300px;
  border: none;
}

.search-icon {
  margin-left: -35px;
  text-align: center;
  padding: 5px;
  max-height: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.input-bar {
  border-radius: 5px;
  padding: 8px;
  width: 40%;
  font-size: 25px;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  padding-top: 30px;
  padding-left: 20px;
}

h3 {
  text-decoration: underline;
}

a {
  color: black;
  font-weight: 500;
}

a:hover {
  color: crimson;
}

.navbar a {
  float: left;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a :hover {
  color: crimson;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
}

.card {
  width: 275px;
  height: 320px;
  cursor: pointer;
  margin-left: 40px;
  margin-bottom: 10px;
}

.main {
  transform: translate(-50%, -50%);
}

.front img {
  width: 275px;
  height: 320px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #000;
}

.front,
.back {
  width: 275px;
  height: 320px;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 7px;
  box-shadow: 5px 5px 10px orange;
  transition: transform 1s linear;
  background-color: white;
}

.back {
  background: white;
  transform: perspective(600px) rotateY(180deg);
}

.content {
  text-align: center;
  color: #333;
  width: 100%;
}

.card-h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 15px;
  text-align: center;
}

.links {
  margin: 15px 0;
  padding: 2px 2px;
}

.lin-img {
  margin-right: 5px;
}

.links a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  color: black;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 2px 20px;
  font-weight: 500;
  transition: 0.4;
}

.links a :hover {
  color: red;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* ---------- footer ---------- */
footer {
  width: 100%;
  padding: 3em 0;
  flex-direction: column;
  background: #1a1a1a;
  text-align: center;
}

footer .social_media_icons {
  margin-top: 1em;
}

footer .social_media_icons a {
  margin: 0.8em;
  border-radius: 50px;
}

footer .social_media_icons a i {
  font-size: 1.8em;
  padding: 0.2em;
  transition: color 0.4s;
  color: white;
}

footer h1 {
  color: white;
}

footer .social_media_icons a:hover i {
  font-size: 1.8em;
  padding: 0.2em;
  color: rgba(54, 54, 54, 0.966);
}
